.about-wrapper {
	width: 100%;
	margin: auto;
	p {
		margin: 0 0 35px 15px;
		width: 60%;
		margin-right: 2%;
	}


	.my-name {
		font-size: 1.7rem;
		font-weight: 700;
		margin-bottom: 4rem;
	}


	.line{
		width: 100%;
		height: 7px;	
		border-radius: 15px;
		margin-bottom: 5rem; 
		&:nth-of-type(1) {
			transform: rotate(6deg);
			background-color: dodgerblue;
			-webkit-transform: rotate(6deg);
		}

		&.bottom {
			transform: rotate(-12deg);
			background-color: dodgerblue;
			-webkit-transform: rotate(-12deg);
		}
	}
	
	.section {
		width: 100%;
		padding: 50px 0px;
		position: relative;
		padding-bottom: 110px;

		&:after {
			content: ' ';
			width: 100%;
			height: 5px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: dodgerblue;
		}

		.about-toggle {
			&:hover {
				-webkit-animation: pulse 2.8s infinite; /* Safari 4+ */
				-moz-animation:    pulse 2.8s infinite; /* Fx 5+ */
				-o-animation:      pulse 2.8s infinite; /* Opera 12+ */
				animation:         pulse 2.8s infinite; /* IE 10+, Fx 29+ */
			}
		}
	}

	.long-facts-title, .quick-facts-title, .skill-set-title, .contact-title {
		width: auto;
		margin-bottom: 5%;
		display: inline-block;
		vertical-align: top;
		padding: 6px 12px;
		border: 3px solid #000;
		text-transform: uppercase;
		font-size: 1.7rem;
		font-weight: 700;

		&:hover {
			transform-origin: top left;
			-webkit-animation: rotate-title 0.8s forwards; /* Safari 4+ */
			-moz-animation:    rotate-title 0.8s forwards; /* Fx 5+ */
			-o-animation:      rotate-title 0.8s forwards; /* Opera 12+ */
			animation:         rotate-title 0.8s forwards; /* IE 10+, Fx 29+ */
		}
	}

	.quick-facts-title, .skill-set-title {
		font-size: 1.3rem;
	}

	.quick-facts, .skill-set {
		p {
			display: block;
		}
	}
}

// roatates the titles on hover
@-webkit-keyframes rotate-title {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}
@-moz-keyframes rotate-title {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}
@-o-keyframes rotate-title {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}
@keyframes rotate-title {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}


// pulsates the toggle to make it look clickable
@-webkit-keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-o-keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}




@media screen and (min-width: 750px) {
	.about-wrapper {
		h3 {
			display: inline-block;
	    margin-top: 45px;
	    vertical-align: top;
	    text-align: center;
	    text-transform: uppercase;
		}

		img {
			display: inline-block;
			width: 50%;
		}

		p {
		    width: 75%;
		}

		.skill-set, .quick-facts {
		  width: 46%;
			margin-left: 0;
			display: inline-block;
			p {
				// width: 0%;
				display: block;
			}
		}

	}
};


@media screen and (min-width: 900px) {
	.about-wrapper {
		p {
		    width: 30%;
		}

		.skill-set, .quick-facts {

		  width: 25%;
			margin-left: 0;
			display: inline-block;

			p {
				width: 80%;
				display: block;
			}
		}
	}
};







