* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- isotope ---- */

.filter {
	width: auto;
	margin: 0.2rem 0.2rem;
	padding: 0.5rem 2rem;
	display: inline-block;
	border: solid #D33FFF 2px;
	cursor: pointer;
	font-size: 1.7rem;
	font-weight: 700;
	background-size: 1.8rem;
	background-image: url("/assets/dot.svg");
	&:nth-of-type(1) {
		margin-left: 0;
	}

	&:hover {
		color: #fff;
		background: #D33FFF;
		background-size: 1.8rem;
		background-image: url("/assets/dot-purple.svg");
	}

	&.selected {
		color: #fff;
		background: #D33FFF;
		background-size: 1.8rem;
		background-image: url("/assets/dot-purple.svg");
	}
}

/* clear fix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

.grid {
	overflow-wrap: normal;
	position: relative;
	width: 100%;
	clear: both;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

/* ---- .element-item ---- */

.grid {
	
	a {
	  position: relative;
	  width: 31%;
	  height: 180px;
	  margin: 5px;
	  margin-left: 0px;
	  padding: 30px;
	  padding-top: 7rem;
	  background: #EAE9E9;
	  color: #262524;
	  display: inline-block;
  // -webkit-align-self: flex-start;
  //  align-self: flex-start;
  //  flex-wrap: wrap;
  // flex: 1 1 auto;
 //   > * {
	//   margin: 0;
	//   padding: 0;
	// }

		h1, h2{
			margin: 0;
			color: #fff;
		}

		h1 {
			font-size: 3rem;
			text-transform: uppercase;
		}

		h2 {
			font-weight: 400;
		}
	}

}

.element-item {

}



/* ----------------

	PROJECT PAGE STYLES

	----------------*/

	
	.main-info {
		width: 100%;

		p {
			width: auto;
			max-width: 60%;
			display: inline-block;
		}
	}

	.content-section {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		
		.small-details {
			width: 30%;
			display: inline-block;
			position: relative;
			margin-left: 20px;

			&:before {
				content: ' ';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 1px;
				background: black;
			}

			p {
				display: block;
				margin: 10px 0;
			}
		}

		&:nth-of-type(2) {
			width: 49%;
			margin-left: 10px;
			display: flex-start;
			flex-flow: row wrap;
			img {
				width: 48%;
				margin-right: 3px;
				flex: 1 1;
			}
		}
	}


@media screen and (min-width: 375px) {
	.content-section {
		width: 100%;
		margin-bottom: 50px;
	}
};

// @media screen and (max-width: 1024px) {

// };


















