@import url(https://fonts.googleapis.com/css?family=Quicksand:700,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	font-size: 12px;
	margin: 0;
}

#container {
	display: -webkit-flex;
	display: flex;
	// width: 70%;
	// margin: auto;
	font-family: 'Montserrat', sans-serif;

	p, li {
		font-family: Courier New;
		font-size: 1.2rem;
		display: inline-block;
		vertical-align: top;
		margin-left: 25px;
	}

	a {
		color: black;
		text-decoration: none;
	}
}

// .wrapper {
// 	display: -webkit-flex;
// 	display: flex;
// }

.content {
	width: 100%;
	display: block;
	position: relative;
	padding: 15px;
	margin-top: 130px;
	// margin: 2%;
}

.wrapper {
	position: relative;
	.loading-bar {
		position: fixed;
		width: 100%;
		height: 3px;
		z-index: 6;
		background: #E83FFF;

		&.run-animation {
			-webkit-animation: grow 0.8s forwards; /* Safari 4+ */
			-moz-animation:    grow 0.8s forwards; /* Fx 5+ */
			-o-animation:      grow 0.8s forwards; /* Opera 12+ */
			animation:         grow 0.8s forwards; /* IE 10+, Fx 29+ */
		}
	}
	width: 100%;
	margin: auto;
}

.side-quote {
  // transform: rotate(90deg);
  // position: fixed;
  // top: 0;
  // right: -300px;
  position: absolute;
  top: 120px;
  padding: 15px;
}



/* ----------- 
	ANIMAITIONS :
----------- */
@-webkit-keyframes grow {
  0%   { width: 0%; }
  100% { width: 100%; }
}

@-moz-keyframes grow {
  0%   { width: 0%; }
  100% { width: 100%; }
}

@-o-keyframes grow {
  0%   { width: 0%; }
  100% { width: 100%; }
}

@keyframes grow {
  0%   { width: 0%; }
  100% { width: 100%; }
}


// @media screen and (min-width: 375px) {
// 	html, body {
// 		font-size: 14px;
// 	}
// };


@media screen and (min-width: 750px) {
	html, body {
		font-size: 12px;
		margin: 0;
	}
	.content {
		width: 70%;
		margin: 200px 5%;
		&.projects-page {
			float: right;
		}
	}
	.side-quote {
	  position: fixed;
	  right: 50px;
	  top: 240px;
		.side-quote-text {
	    width: 300px;
		  transform: rotate(90deg);
	    transform-origin: top right;
	    transform: rotate(90deg) translateX(50%);
		}
	
		&.projects-page {
	    left: 65px;
		  top: 80%;
		  .side-quote-text {
		    transform-origin: bottom left;
				transform: rotate(-90deg);
			}
		}

	}
};


@media screen and (min-width: 900px) {

};