.skills-grid {
	width: 70%;
	margin: auto;
	padding: 5%;

	.skill-item {
		width: 32%;
		min-height: 25%;
		height: 180px;
		margin: 3px;
		padding: 3rem;
	  background: snow;
	  position: relative;
	  display: inline-block;
	}
	.skill-item:after {
	  content: '';
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  right: 10px;
	  bottom: 10px;
	  border: solid 5px black;
	}
}


